{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/jedis/jedi-detail.css' %}"
/>
<script defer src="{% static 'js/jedi-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="jedi-container">
  <div class="jedi-img">
    <img
      src="{% static 'images/baby-yoda.svg' %}" 
      alt=""
    >
  </div>
  <div class="jedi-details">
    <h1>{{ jedi.name }}</h1>
    {% if jedi.age > 10 %}
      <h2>A {{ jedi.age }} year old Jedi from {{ jedi.get_planet_display_value }}</h2>
    {% else %}
      <h2>A Jedi youngling.</h2>
    {% endif %}
    <p>an aspiring jedi {{jedi.get_jeditype_display_value}} being trained by {{ jedi.get_mentor_display_value }}</p>
    <h3> JEDI STATS:</h3>
    <p>Power Level: {{ jedi.powerlevel }}</p>
    <p>Lighstaber Skill: {{ jedi.lightsaberskill }}</p>
    <p>Force Ability: {{ jedi.forceabilities }}</p>
    <p>Defense: {{ jedi.defense }}</p>
    <p>Agility: {{jedi.agility}}</p>
    <p>Wisdom: {{jedi.wisdom}}</p>
    <p>Stamina: {{jedi.stamina}}</p>
    <p>Charisma: {{jedi.charisma}}</p>
    <div class="jedi-actions">
      <a href="{% url 'jedi-update' jedi.id %}" class="btn warn">Edit</a>
      <a href="{% url 'jedi-delete' jedi.id %}" class="btn danger">Delete</a>
    </div>
    <div class="message">
      {% if jedi.get_lightsabercolor_display_value == 'Blue' %}
          <p class="p_blue">Blue: your art is focused on sword fighting rather than on the control of the force.</p>
      {% elif jedi.get_lightsabercolor_display_value == 'Red' %}
          <p class="p_red">Red: you've studied the techniques of the dark side of the force?</p>
      {% elif jedi.get_lightsabercolor_display_value == 'Green' %}
          <p class="p_green">Green: you prefer the art of the force to study the techniques of sword fighting.</p>
      {% elif jedi.get_lightsabercolor_display_value == 'Purple' %}
          <p class="p_purple">Purple: you know lots of techniques on both sides of the force.</p>
      {% elif jedi.get_lightsabercolor_display_value == 'Yellow' %}
          <p class="p_yellow">Yellow: you have a deep understanding of balance in the force.</p>
      {% endif %}
    </div>
    <div class="lightsaber-container">
		<div id="lightsaber" data-color="{{ jedi.get_lightsabercolor_display_value }}" >
			<span id="light"></span>
			<span id="generator">
				<span id="guard">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</span>
				<span id="handlestart">
					<span></span>
					<span></span>
				</span>
				<span id="handle">
					<span></span>
					<span></span>
					<span></span><span></span>
					<span></span><span></span>
					<span></span><span></span>

					<span></span><span></span>
					<span class="long"></span>
					<span class="long"></span>
					<span class="box"></span>
				</span>
				<span class="wings">
					<span class="wing wing1"></span>
					<span class="wing wing2"></span>
					<span class="wing wing3"></span>
				</span>

				<span class="light"></span>
			</span>
		</div>
  </div>
</div>
</section>
<div class="trainings-mission-container">
  <section class="trainings">
    <div class="subsection-title">
      <h2>Trainings</h2>
      <img src="{% static 'images/lightsaber.svg' %}" alt="">
    </div>
    <h3>Add a Training</h3>
    <form
      action="{% url 'add-training' jedi.id %}"
      method="post" 
      class="subsection-content"
      autocomplete="off"
    >
      {% if jedi.trained_for_today %}
      <p class="trained">{{ jedi.name }} has completed all required trainings for they day!</p>
      {% else %}
      <p class="not-trained">{{ jedi.name }} is eager to train!</p>
      {% endif %}
      {% csrf_token %}
      {{ training_form.as_p }}
      <button type="submit" class="btn submit">Add Training</button>
    </form>
    <h3>Past Trainings</h3>
    <table>
      <thead>
        <tr><th>Date</th><th>Training</th></tr>
      </thead>
      <tbody>
        {% for training in jedi.training_set.all %}
          <tr>
            <td>{{training.date}}</td>
            <td>{{training.get_type_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <section class="missions">
    <div class="subsection-title">
      <h2>Missions</h2>
      <img src="{% static 'images/light-sabers.svg' %}" alt="">
    </div>
    <h3>Send Jedi on a mission</h3>
    <form
      action="{% url 'add-mission' jedi.id %}"
      method="post" 
      class="subsection-content"
      autocomplete="off"
    >
      {% if jedi.mission_for_today %}
      <p class="trained">{{ jedi.name }} is on a mission for the day!</p>
      {% else %}
      <p class="not-trained">{{ jedi.name }} is eager to go on a mission!</p>
      {% endif %}
      {% csrf_token %}
      {{ mission_form.as_p }}
      <button type="submit" class="btn submit">Send on Mission</button>
    </form>
    <h3>Past Missions</h3>
    <table>
      <thead>
        <tr><th>Date</th><th>Mission</th></tr>
      </thead>
      <tbody>
        {% for mission in jedi.mission_set.all %}
          <tr>
            <td>{{mission.date}}</td>
            <td>{{mission.get_type_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}