.jedi-container {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jedi-img {
  width: 75%;
  max-width: 350px;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.jedi-details {
  width: 98%;
}

.jedi-actions {
  margin-top: 20px;
}


.subsection-title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.subsection-content {
  margin: 0 8px;
}

.color-block {
  opacity: 0.8;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.jedi-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

.jedi-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.jedi-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.jedi-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}

.subsection-title img {
  height: 42px;
  margin-left: 8px;
}

.subsection-title img:first-of-type {
  margin-left: 16px;
}

.subsection-content p,
.subsection-content input,
.subsection-content select {
  font-size: var(--font-l);
}

.subsection-content input,
.subsection-content select {
  margin-left: 5px;
  padding: 3px;
}

#file-input {
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
}

#file-name {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .jedi-container {
    padding: 35px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .jedi-img {
    width: 25%;
    max-width: 250px;
    margin-right: 25px;
  }

}


.lightsaber-container {
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: -300px;
  margin-left: 300px;
}

			/* h1, h2 {
				position: relative;
				margin: 0;
				padding: 2em 0 1em;
				color: blue;
				color: rgba(200,200,255,0.5);
				text-shadow: 0 0 5px blue, 0 0 5px blue, 0 0 5px blue;
				text-align: center;
				font-weight: normal;
				-webkit-transition: all .8s;
				-moz-transition: all .8s;
				transition: all .8s;
			} */

.copy a {
	color: #eee;
	text-decoration: underline;
}
			
#lightsaber {
	width:50px;
	margin:auto;
	line-height:0;
	padding:20px;
	text-align:center;
}

#lightsaber span { display:inline-block; }
			
#light {
	position:relative;
  margin-right: -30px;
	width:14px;
	background:#fff;
	height:520px;
	border-radius:7px 7px 2px 2px;
	box-shadow:0 0 5px #fff,0 0 8px #fff,0 0 12px #fff,0 0 15px blue,0 0 25px blue;
	z-index:5;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}
			
#generator {
  position:relative;
	top:-3px;
	width:45px;
	height:170px;
	z-index:0;
}
	
#guard { width: 100%; }
#guard span,
#handlestart span,
#handle span:nth-child(2n+1),
#handle .long + .long {
	width: 100%;
	height: 3px;
	background-color: #fff;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.05) 25%, rgba(0,0,0,0.85) 35%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0.2) 55%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.25) 70%, rgba(0,0,0,0.75) 85%, rgba(0,0,0,0.65) 100%);
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.05) 25%, rgba(0,0,0,0.85) 35%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0.2) 55%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.25) 70%, rgba(0,0,0,0.75) 85%, rgba(0,0,0,0.65) 100%);
	background-image: linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.05) 25%, rgba(0,0,0,0.85) 35%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0.2) 55%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.25) 70%, rgba(0,0,0,0.75) 85%, rgba(0,0,0,0.65) 100%);
	box-shadow: 0 1px 1px rgba(0,0,0,0.4) inset,0 -1px 1px rgba(255,255,255,0.4) inset;
	border-radius: 0 0 2px 2px;
}

#guard span + span {
	width: 82%;
	height: 6px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4) inset,0 -1px 2px rgba(255,255,255,0.4) inset;
}
			
#guard span + span + span {
	width: 76%;
	height: 9px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4) inset,0 -1px 2px rgba(255,255,255,0.4) inset;
}
			
#guard span + span +span + span {
	width: 65%;
	height: 6px;
}
			
#guard span + span +span + span + span {
	width: 40%;
	height: 10px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4) inset,0 -1px 2px rgba(0,0,0,0.4) inset;
}
			
#handlestart { width: 100%; }
#handlestart span {
	width: 90%;
	height: 6px;
	border-radius: 50% 50% 0 0;
}
			
#handlestart span + span {
	width: 75%;
	height: 4px;
}
			
#handle { width: 77%; }
#handle span:nth-child(2n+1) {
	width: 95%;
}
			
#handle span:first-child {
	width: 50%;
	height: 7px;
	background: -webkit-linear-gradient(left, #000, #333 58%, #000 85%, #000);
	background: -moz-linear-gradient(left, #000, #333 58%, #000 85%, #000);
	background: linear-gradient(left, #000, #333 58%, #000 85%, #000);
	box-shadow: 0 0 0;
}
			
#handle span:first-child + span,
#handle span:nth-child(2n+2) {
	width: 75%;
	height: 6px;
	background: -webkit-linear-gradient(left, #000, #333 58%, #000 85%, #000);
	background: -moz-linear-gradient(left, #000, #333 58%, #000 85%, #000);
	background: linear-gradient(left, #000, #333 58%, #000 85%, #000);
  border-radius: 3px 3px 0 0;
}
			
#handle span:nth-child(2n+2) {
	width: 100%;
	height: 4px;
	border-radius: 0;
}
			
#handle span.long,
#handle .long + .long {
	height: 35px;
	border-radius: 0;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.5) inset, 0 -1px 5px rgba(0,0,0,0.5) inset;
}
			
#handle .long + .long {
	height: 30px;
	width: 100%;
	background-position: 2px 0;
}
			
#handle span.box {
	position: absolute;
	top:121px;left:50%;
	height: 28px;
	width: 24px;
	margin-left:-12px;
	background: -moz-linear-gradient(#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15);
	box-shadow: 0 0 10px rgba(0,0,0,0.9) inset, 0 3px 3px -3px rgba(0,0,0,1);
	z-index: 5;
}
			
.light { 
	position: absolute;
  left: 12px; top:0; bottom:-12px; right:12px;
	background: rgba(0, 0, 255, 0.05);
  box-shadow: 0 0 12px rgba(0, 0, 255, 0.2);
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
  transition: all .8s;
}

.wings {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 30px;
}
			
.wing {
  position: absolute;
	background: #4B3222;
	width: 12px;
	height: 16px;
  bottom: 100%;
  box-shadow: 0 0 14px rgba(0,0,0,0.3) inset, 0 0 6px rgba(0,0,0,0.3) inset;
}
			
.wing:before {
	position: absolute;
	content: "";
	top: -15px; left: 0;
	height: 10px;
	width: 0;
	border-left:12px #312116 solid;
	border-right:5px transparent solid;
	border-top:5px transparent solid;
}
			
.wing1 {
	right: -6px;
}
			
.wing2 {
	right: 50%;
	margin-right: -2px;
	width: 4px;
}
			
.wing2:before {
	height: 14px;
	width: 4px;
	top: -14px;
	background: #312116;
	border: 0 none;
}
			
.wing3 {
	left: -6px;
}
			
.wing3:before {
	border-right:12px #312116 solid;
	border-left:0 none;
}

@media (max-width:790px) {
	#color_selector, .copy {
	position: relative;
	width: auto;
	}
	#color_selector {
	margin: 1em auto;
	width: 80%;
	right: 0;
  }
	.copy {
	padding: 0;
	}
	#bg {
	bottom: -59%;
	}
}


/* Blue lightsaber styles */
#lightsaber[data-color="Blue"] #light {
  box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px blue, 0 0 25px blue;
  background: rgba(0, 0, 255, 0.05);
}

/* Red lightsaber styles */
#lightsaber[data-color="Red"] #light {
  box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px red, 0 0 25px red;
  background: rgba(255, 0, 0, 0.05);
}

/* Green lightsaber styles */
#lightsaber[data-color="Green"] #light {
  box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px green, 0 0 25px green;
  background: rgba(0, 255, 0, 0.05);
}

/* Purple lightsaber styles */
#lightsaber[data-color="Purple"] #light {
  box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px purple, 0 0 25px purple;
  background: rgba(255, 0, 255, 0.05);
}

/* Yellow lightsaber styles */
#lightsaber[data-color="Yellow"] #light {
  box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px yellow, 0 0 25px yellow;
  background: rgba(255, 255, 0, 0.05);
}

