body {
  background-image: url("https://i.imgur.com/J5ZEcwQ.jpg");
  background-size: cover;
}

.jedi-container {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  background-color: #000;
  color: #ffd700;
}

.jedi-img {
  width: 75%;
  max-width: 350px;
  position: absolute;
  margin-left: 400px;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.jedi-details {
  width: 98%;
}

.jedi-actions {
  margin-top: 20px;
}

.trainings-mission-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
  margin-top: 20px;
}


.subsection-title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.subsection-content {
  margin: 0 8px;
}

.color-block {
  opacity: 0.8;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.not-trained,
.trained,
.no-missions,
.all-missions {
  margin: 0;
  font-weight: bold;
}

.not-trained,
.no-missions {
  color: var(--danger);
}

.trained,
.all-missions {
  color: var(--submit);
}

.jedi-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

.jedi-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.jedi-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.jedi-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}

.trainings-mission-container > section {
  width: 80%;
  min-width: 360px;
  border: var(--borders);
  border-radius: var(--card-border-radius);
  padding: 10px;
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.subsection-title img {
  height: 42px;
  margin-left: 8px;
}

.subsection-title img:first-of-type {
  margin-left: 16px;
}

.trainings h3,
.missions h3 {
  font-size: var(--font-xl);
  margin: 10px 0;
}

.subsection-content p,
.subsection-content input,
.subsection-content select {
  font-size: var(--font-l);
}

.subsection-content input,
.subsection-content select {
  margin-left: 5px;
  padding: 3px;
}

.trainings {
  background-color: #000;
  color: #ffd700;
}

.trainings td {
  padding: 8px 5px;
  font-size: var(--font-reg);
}

.trainings th {
  font-size: var(--font-l);
  padding: 5px 5px 0;
  border-bottom: rgb(36, 116, 248) solid 2px;
}

.trainings tr:nth-child(even) {
  background-color: #f3f3fd;
  color: #000;
}

.missions {
  background-color: #000;
  color: #ffd700;
}

.missions td {
  padding: 8px 5px;
  font-size: var(--font-reg);
}

.missions th {
  font-size: var(--font-l);
  padding: 5px 5px 0;
  border-bottom: rgb(36, 116, 248) solid 2px;
}

.missions tr:nth-child(even) {
  background-color: #f3f3fd;
  color: #000;
}

.mission-container p {
  margin: 12px 0;
}

.mission-container a {
  text-decoration: none;
  color: #111;
}

.mission-container .btn {
  padding: 3px 10px;
  margin-left: 10px;
}

#file-input {
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
}

#file-name {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .jedi-container {
    padding: 35px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .jedi-img {
    width: 25%;
    max-width: 250px;
    margin-right: 25px;
  }

  .trainings-mission-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .trainings-mission-container > section {
    width: 45%;
  }
}


@media only screen and (min-width: 1024px) {
  .trainings-mission-container {
    padding: 0 40px;
  }
}

.message {
  position: relative;
  padding: 10px;
  margin-bottom: -30px;

}

.lightsaber-container {
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: -400px;
  margin-left: 1050px;
}

.p_red {
  color: red;
}

.p_purple {
  color: purple;
}

.p_blue {
  color: blue;
}

.p_green {
  color: green;
}

.p_yellow {
  color: yellow;
}

			/* h1, h2 {
				position: relative;
				margin: 0;
				padding: 2em 0 1em;
				color: blue;
				color: rgba(200,200,255,0.5);
				text-shadow: 0 0 5px blue, 0 0 5px blue, 0 0 5px blue;
				text-align: center;
				font-weight: normal;
				-webkit-transition: all .8s;
				-moz-transition: all .8s;
				transition: all .8s;
			} */

.copy a {
	color: #eee;
	text-decoration: underline;
}
			
#lightsaber {
	width:25px;
	margin:auto;
	line-height:0;
	padding:10px;
	text-align:center;
}

#lightsaber span { display:inline-block; }
			
#light {
	position:relative;
  margin-right: -15px;
	width:7px;
	background:#fff;
	height:260px;
	border-radius:3.5px 3.5px 1px 1px;
	box-shadow:0 0 5px #fff,0 0 8px #fff,0 0 12px #fff,0 0 15px blue,0 0 25px blue;
	z-index:5;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}
			
#generator {
  position:relative;
	top:-1.5px;
	width:22.5px;
	height:85px;
	z-index:0;
}
	
#guard { width: 100%; }
#guard span,
#handlestart span,
#handle span:nth-child(2n+1),
#handle .long + .long {
	width: 100%;
	height: 3px;
	background-color: #fff;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.05) 25%, rgba(0,0,0,0.85) 35%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0.2) 55%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.25) 70%, rgba(0,0,0,0.75) 85%, rgba(0,0,0,0.65) 100%);
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.05) 25%, rgba(0,0,0,0.85) 35%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0.2) 55%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.25) 70%, rgba(0,0,0,0.75) 85%, rgba(0,0,0,0.65) 100%);
	background-image: linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.05) 25%, rgba(0,0,0,0.85) 35%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0.2) 55%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.25) 70%, rgba(0,0,0,0.75) 85%, rgba(0,0,0,0.65) 100%);
	box-shadow: 0 1px 1px rgba(0,0,0,0.4) inset,0 -1px 1px rgba(255,255,255,0.4) inset;
	border-radius: 0 0 2px 2px;
}

#guard span + span {
	width: 82%;
	height: 6px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4) inset,0 -1px 2px rgba(255,255,255,0.4) inset;
}
			
#guard span + span + span {
	width: 76%;
	height: 9px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4) inset,0 -1px 2px rgba(255,255,255,0.4) inset;
}
			
#guard span + span +span + span {
	width: 65%;
	height: 6px;
}
			
#guard span + span +span + span + span {
	width: 40%;
	height: 10px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4) inset,0 -1px 2px rgba(0,0,0,0.4) inset;
}
			
#handlestart { width: 100%; }
#handlestart span {
	width: 90%;
	height: 6px;
	border-radius: 50% 50% 0 0;
}
			
#handlestart span + span {
	width: 75%;
	height: 4px;
}
			
#handle { width: 77%; }
#handle span:nth-child(2n+1) {
	width: 95%;
}
			
#handle span:first-child {
	width: 50%;
	height: 7px;
	background: -webkit-linear-gradient(left, #000, #333 58%, #000 85%, #000);
	background: -moz-linear-gradient(left, #000, #333 58%, #000 85%, #000);
	background: linear-gradient(left, #000, #333 58%, #000 85%, #000);
	box-shadow: 0 0 0;
}
			
#handle span:first-child + span,
#handle span:nth-child(2n+2) {
	width: 75%;
	height: 6px;
	background: -webkit-linear-gradient(left, #000, #333 58%, #000 85%, #000);
	background: -moz-linear-gradient(left, #000, #333 58%, #000 85%, #000);
	background: linear-gradient(left, #000, #333 58%, #000 85%, #000);
  border-radius: 3px 3px 0 0;
}
			
#handle span:nth-child(2n+2) {
	width: 100%;
	height: 4px;
	border-radius: 0;
}
			
#handle span.long,
#handle .long + .long {
	height: 20px;
	border-radius: 0;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.5) inset, 0 -1px 5px rgba(0,0,0,0.5) inset;
}
			
#handle .long + .long {
	height: 15px;
	width: 100%;
	background-position: 2px 0;
}
			
#handle span.box {
	position: absolute;
	top:121px;left:50%;
	height: 14px;
	width: 18px;
	margin-left:-8px;
	background: -moz-linear-gradient(#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15);
	box-shadow: 0 0 10px rgba(0,0,0,0.9) inset, 0 3px 3px -3px rgba(0,0,0,1);
	z-index: 5;
}
			
.light { 
	position: absolute;
  left: 12px; top:0; bottom:-12px; right:12px;
	background: rgba(0, 0, 255, 0.05);
  box-shadow: 0 0 12px rgba(0, 0, 255, 0.2);
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
  transition: all .8s;
}

.wings {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 15px;
}
			
.wing {
  position: absolute;
	background: #4B3222;
	width: 12px;
	height: 16px;
  bottom: 100%;
  box-shadow: 0 0 14px rgba(0,0,0,0.3) inset, 0 0 6px rgba(0,0,0,0.3) inset;
}
			
.wing:before {
	position: absolute;
	content: "";
	top: -15px; left: 0;
	height: 10px;
	width: 0;
	border-left:12px #312116 solid;
	border-right:5px transparent solid;
	border-top:5px transparent solid;
}
			
.wing1 {
	right: -6px;
}
			
.wing2 {
	right: 50%;
	margin-right: -2px;
	width: 4px;
}
			
.wing2:before {
	height: 14px;
	width: 4px;
	top: -14px;
	background: #312116;
	border: 0 none;
}
			
.wing3 {
	left: -6px;
}
			
.wing3:before {
	border-right:12px #312116 solid;
	border-left:0 none;
}

@media (max-width:790px) {
	#color_selector, .copy {
	position: relative;
	width: auto;
	}
	#color_selector {
	margin: 1em auto;
	width: 80%;
	right: 0;
  }
	.copy {
	padding: 0;
	}
	#bg {
	bottom: -59%;
	}
}


/* Blue lightsaber styles */
#lightsaber[data-color="Blue"] #light {
  box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px blue, 0 0 25px blue;
  background: rgba(0, 0, 255, 0.05);
}

/* Red lightsaber styles */
#lightsaber[data-color="Red"] #light {
  box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px red, 0 0 25px red;
  background: rgba(255, 0, 0, 0.05);
}

/* Green lightsaber styles */
#lightsaber[data-color="Green"] #light {
  box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px green, 0 0 25px green;
  background: rgba(0, 255, 0, 0.05);
}

/* Purple lightsaber styles */
#lightsaber[data-color="Purple"] #light {
  box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px purple, 0 0 25px purple;
  background: rgba(255, 0, 255, 0.05);
}

#lightsaber[data-color="Purple"] .light {
  background: rgba(255, 0, 255, 0.05);
  box-shadow: 0 0 12px rgba(255, 0, 255, 0.2);
}


/* Yellow lightsaber styles */
#lightsaber[data-color="Yellow"] #light {
  box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px yellow, 0 0 25px yellow;
  background: rgba(255, 255, 0, 0.05);
}

